html, body, main {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    width: calc(100vh * 9 / 16);
    height: calc(100vw * 16 / 9);

    > #app {
        width: 100%;
        height: 100%;

        > canvas {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    > #controls {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 64px;
        width: 100%;
        height: 64px;

        > img {
            display: block;
            margin: 1rem;
            width: 5rem;
            height: 5rem;
            transition: .2s ease-in-out;

            &:hover {
                width: 5.5rem;
                height: 5.5rem;
            }

            &:focus {
                outline: none;
            }
        }
    }

    > .panel {
        position: absolute;
        top: 32px;
        left: 10%;
        width: 80%;
        background-color: mediumseagreen;
    }
}

.panel {
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #FFF;

    > header {
        padding: .5em;
        color: white;
    }

    > p {
        background-color: white;
        border-radius: 5px;
        padding: .5em;
        margin: 0;
    }
}
